.dashboard {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.dashboardContent {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.dashboardTitle {
  display: flex;
  align-items: center;

  button {
    height: fit-content;
    margin-left: 20px;
  }
}
