.header {
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 10px 0px;
  position: absolute;
  top: 0;
  width: 100%;
}

.headerContent {
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.headerUser {
  display: flex;
  align-items: center;

  button {
    margin-left: 20px;
  }
}
