.header {
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 10px 0px;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #9798a7;
  border-bottom: 2px solid #6e6e79;
}

.headerContent {
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: space-between;
}

.headerImg {
  width: 70px;
}

.headerUser {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  h3 {
    margin: 0;
  }

  button {
    margin-left: 20px;
  }
}
