.home {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #9798a7;
  min-height: 100vh;
}

.homeOverlay {
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: radial-gradient(circle, rgba(255, 255, 255, 0) 20%, #9798a7 50%);
}

.homeImgContainer {
  opacity: 0.8;
  display: flex;
  justify-content: center;
  position: absolute;
  right: 0;
  width: 50%;
}

.homeImg {
  width: 100%;
  object-fit: cover;
}

.homeAbout {
  position: absolute;
  left: 7.5%;
  top: 35vh;
  padding: 20px;
  color: #11151d;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  h2 {
    font-size: 55px;
    font-family: 'NormsBold', sans-serif;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  h3 {
    font-family: 'Norms', sans-serif;
    font-size: 30px;
    width: 70%;
    margin: 0;
    margin-bottom: 30px;
  }
}

.homeBtns {
  width: 100%;
  display: flex;

  button {
    margin-right: 20px;
  }
}
