.updateTask {
  display: flex;
  min-height: 100vh;
}

.updateTaskContent {
  margin-top: 90px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0px 5%;
}

.updateTaskForm {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;

  h2 {
    margin-top: 0;
  }

  p {
    margin-top: 0;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  label {
    margin-bottom: 5px;
  }

  input {
    padding-left: 10px;
    border: 2px solid;
    height: 35px;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  textarea {
    box-sizing: border-box;
    resize: none;
    padding: 10px;
    border: 2px solid;
    height: 100px;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  button {
    margin: auto;
    margin: 20px 0px;
    width: fit-content;
  }
}

.updateTaskFormPart {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.formBtn {
  position: absolute;
  bottom: -70px;
}
